---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="//unpkg.com/alpinejs" defer></script>
    <title>Onboarding</title>
  </head>
  <body class="bg-slate-50 text-slate-800 text-xl p-5 sm:p-10">
    <main
      class="max-w-2xl mx-auto bg-white p-10 rounded-md shadow-md shadow-slate-200"
    >
      <slot />
    </main>
  </body>
</html>
